/* Sidebar title styles */
.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, #3498db, #2980b9); /* Gradient background */
  padding: 10px 20px; /* Padding inside the title */
  border-radius: 25px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  color: #ffffff; /* Text color */
  transition: background 0.3s ease; /* Smooth transition for background */
}

/* Sidebar title hover effect */
.sidebar-title:hover {
  background: linear-gradient(to right, #2980b9, #3498db); /* Reverse gradient on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly increased box shadow on hover */
}


.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.all {
  background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}
