/* Sidebar styles */
.sidebar {
  width: 15%;
  position: fixed;
  height: 100%;
  border-right: 2px solid #2980b9; /* Darker blue border */
  background-color: #2c3e50;
  color: aliceblue;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease; /* Smooth width transition */
}

/* Sidebar hover effect */
.sidebar:hover {
  width: 20%; /* Expand width on hover */
}

/* Logo container styles */
.logo-container {
  margin-bottom: 3rem;
  text-align: center;
  transition: transform 0.3s ease; /* Smooth transform transition */
}

/* Logo container hover effect */
.logo-container:hover {
  transform: scale(1.1); /* Slightly scale up on hover */
}

.logo-container h1 {
  margin-top: 1rem; /* Adjust top margin */
  font-size: 2rem; /* Larger font size */
  letter-spacing: 2px; /* Increased letter spacing */
  text-transform: uppercase; /* Convert text to uppercase */
  font-weight: bold; /* Bold text */
}
