/* Button component styles */
.btns {
    background-color: #3498db; /* Blue background color */
    color: #ffffff; /* White text color */
    border: none; /* No border */
    padding: 12px 24px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for background color and transform */
  }
  
  /* Hover effect */
  .btns:hover {
    background-color: #2980b9; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly scale up the button on hover */
  }

  .availability {
    color: #02b835; /* Green color (hex code) */
  }
  