/* Navigation bar styles */
nav {
  display: flex;
  border-bottom: 2px solid #3498db; /* Vibrant blue border */
  justify-content: space-between; /* Space between items */
  align-items: center;
  padding: 20px;
  z-index: 999;
  background-color: #2c3e50; /* Dark blue background */
  color: #ecf0f1; /* Light text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

/* Input styles */
input {
  padding: 12px 20px;
  border: none;
  background: #ecf0f1; /* Light gray background */
  outline: none;
  margin-right: 40px; /* Increased right margin to move the input field more rightwards */
  border-radius: 20px; /* Rounded corners */
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

/* Navigation icons */
.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 20px; /* Slightly increased margin */
  filter: invert(1); /* Invert icon colors for better visibility */
}
/* Nav container styles */
.nav-container {
  flex: 1; /* Allow the input to expand and take available space */
  margin-left: 300px;
}

/* Input styles */
.search-input {
  padding: 12px 20px;
  border: none;
  background: #ecf0f1; /* Light gray background */
  outline: none;
  margin-right: 40px; /* Increased right margin to move the input field more rightwards */
  border-radius: 20px; /* Rounded corners */
  width: 100%; /* Take 100% width of the nav-container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

/* Navigation icons */
.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 20px; /* Slightly increased margin */
  filter: invert(1); /* Invert icon colors for better visibility */
}

/* Profile container styles */
.profile-container {
  display: flex;
  align-items: center;
}
