/* Card container styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between cards */
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
  justify-content: flex-start; /* Align cards to the start of the container */
}

/* Card styles */
.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners */
  transition: all 0.3s ease; /* Smooth transition for all properties */
  width: 250px; /* Set a fixed width for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.card:hover {
  transform: translateY(-5px); /* Lift the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly increased box shadow on hover */
}

.card-img {
  width: 100%; /* Make sure the image takes 100% width inside the card */
  height: auto; /* Maintain aspect ratio of the image */
  margin-bottom: 1rem;
  border-radius: 5px; /* Rounded corners for images */
  object-fit: cover; /* Maintain aspect ratio and cover the image */
}

.card-title {
  margin-bottom: 1rem;
  font-size: 1.2rem; /* Larger font size for titles */
  font-weight: bold;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #f39c12; /* Orange color for rating stars */
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #27ae60; /* Green color for bag icon */
}
