/* Advanced styles for recommended section */

/* Flex container for recommended items */
.recommended-flex {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the container */
  align-items: flex-start; /* Align items to the start of the container */
  margin-left: 20rem;
  padding: 20px; /* Add padding for spacing */
}

/* Recommended title styles */
.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 40px; /* Increased top margin for separation */
  font-size: 24px; /* Larger font size for emphasis */
  font-weight: bold; /* Bold text for emphasis */
  color: #3498db; /* Vibrant blue color for the title */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Increased letter spacing for a modern look */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  text-align: center; /* Center-align the text */
}

/* Recommended item styles */
.recommended-item {
  margin-right: 20px; /* Add right margin between items */
  background-color: #ecf0f1; /* Light gray background color */
  border: 1px solid #bdc3c7; /* Border color for the items */
  border-radius: 10px; /* Rounded corners for the items */
  padding: 20px; /* Padding inside the items */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow for a lifted look */
  transition: transform 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for recommended items */
.recommended-item:hover {
  transform: translateY(-5px); /* Move the item up on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly increased box shadow on hover */
}
