.password-input {
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center;
  align-items: center; */

  position: relative;
}

.container {
  display: flex;
  justify-content: center;

  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  max-width: 200px;
  height: 50px;
  border: 2px solid black;
}

.password-box {
  border: none;
}
